.form {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
}

.card {
  margin: 0 auto;
  margin-top: 5%;
}

.color1 {
  background: red;
  width: 100vw;
  height: 100vh;
}

.color2 {
  background: white;
  width: 100vw;
  height: 100vh;
}
